// src/styles/variables.scss
:root {
  --accent: #0d9488;
  --sb-bg: #0f172a;       // 常暗侧边栏
  --app-bg: #f4f5f9;
  --surface: #ffffff;
  --border: #e5e7eb;
  --text-1: #0f172a;
  --text-2: #475569;
  --text-3: #94a3b8;
  // Element Plus 主色覆盖
  --el-color-primary: #0d9488;
  --el-color-primary-light-3: #43a99e;
  --el-color-primary-light-5: #6fbfb6;
  --el-color-primary-light-7: #9cd5ce;
  --el-color-primary-light-8: #b1dfda;
  --el-color-primary-light-9: #c6e9e5;
  --el-color-primary-dark-2: #0a766b;
}
html.dark {
  --app-bg: #0b1220;
  --surface: #111827;
  --border: #1f2937;
  --text-1: #f1f5f9;
  --text-2: #cbd5e1;
  --text-3: #64748b;
}
